extends layout.pug 

block contactspage
    h1 Create Contact
    form(action ="/create", method ="post")
        fieldset.form-container
            legend.info Basic Information
            section    
                label(for="firstname") First Name:       
                input(type ="text", name = "firstname")
            section 
                p
                    label(for="lastname") Last Name: 
                    input(type ="text", name = "lastname")
            section 
                p
                    label(for="phone") Phone: 
                    input(type="text", name= "phone")
            section 
                label(for="email") Email: 
                input(type="text", name ="email")
        fieldset.form-container
            legend.info Address 
            section 
                label(for="address") Address:  
                input(type="address", name = "address")
        fieldset.form-container 
            legend.info Contact Preferences
            section 
                input(type ="checkbox", name ="Contact_By_Phone", class="custom-cursor")
                label(for="Contact_By_Phone")  Contact by Phone 
            section
                input(type ="checkbox", name ="Contact_By_Email",class="custom-cursor")
                label(for="Contact_By_Email")   Contact by Email   
            section 
                input(type = "checkbox", name = "Contact_By_Mail", class = "custom-cursor")
                label(for="Contact_By_Mail")    Contact by Mail 
                

        button(type="submit") Add
        a(href='/')  Cancel 
        if message 
            p #{message}

    
//- fieldset groups elements together in a form, whereas legend provides context or info
//- input takes in the input value in the form of text           
//- message is used to print out error message, like form error or server ko error 
//- dont forget to test in codepen!! 