extends layout.pug 

block contactspage
    h1 Update Contact
    form(action ='/'+ contact.id + '/edit', method ="post")
        fieldset.form-container
            legend.info Basic Information 
            section
                label(for="firstname") First Name:          
                input(type ="text",name ="firstname", value = contact.firstname)
            section 
                p
                    label(for="lastname") Last Name:   
                    input(type ="text", name = "lastname", value = contact.lastname)
            section 
                p
                    label(for="phone") Phone:   
                    input(type="text", name= "phone", value = contact.phone)
            section 
                label(for="email") Email:   
                input(type="text", name ="email", value = contact.email)
        fieldset.form-container 
            legend.info Address 
            section 
                label(for="address") Address:  
                input(type="text", name = "address", value = contact.address)
        fieldset.form-container
            legend.info Contact Preferences 
            section 
                input(type ="checkbox", name ="Contact_By_Phone", checked= contact.Contact_By_Phone==1)
                label(for="Contact_By_Phone") Contact by Phone 
            section
                input(type ="checkbox", name ="Contact_By_Email", checked=contact.Contact_By_Email==1)
                label(for="Contact_By_Email") Contact by Email   
            section 
                input(type = "checkbox", name = "Contact_By_Mail", checked = contact.Contact_By_Mail==1)
                label(for="Contact_By_Mail") Contact by Mail
        button(type='submit') Update
        a(href='/')  Cancel 
        if message 
            p #{message}

//- these basically prepopulate the data, unlike the create one in which user has to enter
//- purpose of value: populates the value from contact
//- checked checks the constact.cc to determine if the check box is ticked or not 