Doctype 
html 
    head 
        title P2 Contacts 
        meta(name="viewport", content="width=device-width,initial-scale=1")
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        link(rel='stylesheet', type='text/css', href= "/style.css")
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="crossorigin=""></script>
        script(src="./places.js")
        link(rel="icon" href="favicon.ico")
    body 
        .head1
            if !hideLogin
                if user 
                    .user
                        span #{user.username}
                        a(href="/logout")  Sign Out
                else 
                    a(href="/signin")  Sign In 
            block contactspage

//- if the button is not hidden 
//- # is used to dynamicaly insert the username, so it is like <span>Rika</span> 
//- span is used instead of p because inline, if p then it shows additional space. 
//- so for example if the user is logged in, it will show the username of that user when the user moves around the page
//- or it will show the sign in button at the to, the blue one.
//- then only it spans the other content, so like the other content will extend from this template header like layout