extends layout.pug 

block contactspage 
    a(href='/') Home
    h1 Sign Up 
    div
        .form-container
            form(action="/signup", method ="post")
                p 
                    label(for="firstname") First Name: 
                    input(type="text", name ="firstname")
                p 
                    label(for="lastname") Last Name:  
                    input(type="text", name ="lastname")
                
                p 
                    label(for="username") Username: 
                    input(type="text", name ="username")
                p 
                    label(for="password") Password: 
                    input(type="password", name ="password")
                p 
                    label(for="password_re") Confirm Password:  
                    input(type="password", name ="password_re")
                
            p 
        button(type='submit') Sign Up 
        a(href='/')  Nevermind 
        if message 
            p #{message}
        p 
        | Already have an account?
        a(href="/signin")  Sign in here!